<template>
  <div class="main">
    <form class="form">
      <input
        class="form__input"
        type="text"
        v-model="pinCode"
        :maxlength="6"
        pattern="[0-9]{6}"
        placeholder="Enter 6-digit pincode"
        @keydown.esc="() => pinCode = ''"
        autofocus
        required
      />
    </form>
    <v-data-table :headers="headers" :items="desserts" :items-per-page="5" class="elevation-1"></v-data-table>
  </div>
</template>

<script>

import axios from 'axios'
export default {
  name: "HomeView",
  data() {
    return {
      pinCode: '',
      headers: [
        {
          text: 'Post Office',
          align: 'start',
          sortable: false,
          value: 'Name',
        },
        { text: 'BranchType', value: 'BranchType' },
        { text: 'DeliveryStatus', value: 'DeliveryStatus' },
        { text: 'Circle', value: 'Circle' },
        { text: 'District', value: 'District' },
        { text: 'Pincode', value: 'Pincode' },
      ],
      desserts: [],
    }
  },
  methods: {
    fetchPostOfficeItems() {
      this.desserts = [];
      (axios.get(`https://api.postalpincode.in/pincode/${this.pinCode}`))
        .then(response => {
          this.desserts = response.data[0].PostOffice ?? [];
        })
        .catch((error) => {
          console.log(error);
        });
      this.pinCode = '';
    },
  },
  computed: {
      isValidPincode() {
        return /^\d{6}$/.test(this.pinCode);
      },
    },
    watch: {
      isValidPincode(newValue) {
        if (newValue) {
          this.fetchPostOfficeItems();
        }
      },
    },
}
</script>

<style scoped>
.form {
  width: 100%;
  display: flex;
  column-gap: 10px;
  margin-bottom: 1rem;
}

.form__input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
}

.form__button {
  padding: 8px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
}
</style>
