<template>
  <div class="main">
    <HomeView />
  </div>
</template>

<script>

import HomeView from './views/HomeView.vue';
export default {
  components: {
    HomeView
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.main {
  margin: 1rem;
  padding: 1rem;
  height: 100vh;
}
</style>
